<!DOCTYPE html>
<html lang="en">
<th:block th:replace="shared/_header :: layout('Jobs list')"></th:block>
<body>
<div th:replace="shared/_navbar :: navbar"></div>
<h1 style="text-align: center;color: coral">Jobs List</h1>

<div class="container">
    <div class="row">
       <div th:object="${jobDetailsDto}">
           <div th:text="*{title}"></div>
           <div th:text="*{location}"></div>
           <div th:text="*{description}"></div>
           <div th:text="*{salary}"></div>
           <div th:text="*{deadline}"></div>
           <div th:text="*{category}"></div>
           <div th:text="*{jobOwner}"></div>
       </div>
    </div>
</div>
</body>
</html>