<!DOCTYPE html>
<html lang="en">
<th:block th:replace="~{shared/_header :: layout('Home')}"></th:block>
<body>
<div th:replace="~{shared/_navbar :: navbar}"></div>

<!-- Profile Icon in Top Right -->
<!--<div style="position: absolute; top: 20px; right: 20px;">-->
<!--    <th:block th:if="${session.user != null}">-->
<!--        <a th:href="@{/profile}"><img th:src="@{${session.user.profileImage}}" alt="Profile" style="width: 40px; height: 40px; border-radius: 50%;"></a>-->
<!--    </th:block>-->
<!--    </a>-->
<!--</div>-->

<div class="slider-active">
    <div class="single-slider slider-height d-flex align-items-center"
         th:attr="style='background-image: url(/imgs/img.png); background-size: cover; background-position: center; height: 100vh; width: 100vw;'">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-9 col-md-10">
                    <div class="hero__caption">
                        <h1>Find the most exciting startup jobs</h1>
                    </div>
                </div>
            </div>
            <!-- Search Box -->
            <div class="row">
                <div class="col-xl-8">
                    <!-- form -->
                    <form action="#" class="search-box">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Job Title or keyword">
                            <div class="input-group-append">
                                <select class="custom-select" id="select1">
                                    <option value="">Prishtine</option>
                                    <option value="">Ferizaj</option>
                                    <option value="">Mitrovice</option>
                                    <option value="">Lipjan</option>
                                </select>
                            </div>
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="our-services section-pad-t30">
    <div class="container">
        <!-- Section Title -->
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle text-center">
                    <span>FEATURED TOURS Packages</span>
                    <h2>Browse Top Categories</h2>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <!-- Example Job Category -->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="single-services text-center mb-30">
                    <div class="services-ion">
                        <span class="flaticon-tour"></span>
                    </div>
                    <div class="services-cap">
                        <h5><a th:href="@{/jobs}">Design & Creative</a></h5>
                        <span>(653)</span>
                    </div>
                </div>
            </div>
            <!-- Add more categories as needed -->
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="browse-btn2 text-center mt-50">
                    <a th:href="@{/jobs}" class="border-btn2">Browse All Jobs</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
