<!DOCTYPE html>
<html lang="en">
<th:block th:replace="shared/_header :: layout('Home')"></th:block>
<body>
<div th:replace="shared/_navbar :: navbar"></div>

<section style="background-color: #eee;">
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                         class="rounded-circle img-fluid" style="width: 150px;">
                    <h5 class="my-3" th:text="${session.user.username}"></h5>
                    <p class="text-muted mb-4" th:text="${session.user.bio}"></p>
                    <div class="mt-3">
                        <p>
                            <strong>Your CV: </strong>
                            <span th:if="${session.user.cvFileName != null}">
                                <a th:href="@{/profile/cv/{fileName}(fileName=${session.user.cvFileName})}"
                                   class="btn btn-link text-primary" target="_blank">View CV</a>
                            </span>
                            <span th:if="${session.user.cvFileName == null}">No CV uploaded</span>
                        </p>

                        <div th:if="${session.user.cvFileName == null}">
                            <form th:action="@{/profile/{id}/cv/upload-cv(id=${session.user.id})}" method="post"
                                  enctype="multipart/form-data">
                                <input type="file" name="cv" required class="form-control mb-2">
                                <button type="submit" class="btn btn-primary">Upload CV</button>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="col-lg-8" th:object="${session.user}">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Username</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0" th:text="*{username}"></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Full Name</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0"
                               th:text="${session.user.name} + ' ' + ${session.user.lastName}"></p>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0" th:text="*{email}"></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Phone</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0" th:text="*{phone}"></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Address</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0" th:text="*{address}"></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">City</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0" th:text="*{city}"></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Country</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0" th:text="*{country}"></p>
                        </div>
                    </div>
                    <hr>

                    <div class="header-btn d-none f-right d-lg-block">
                        <a th:href="@{/profile/update}" class="btn btn-primary mt-3 me-2">Edit Profile</a>

                        <form th:action="@{/logout}" method="post" th:unless="${session == null}" class="d-inline">
                            <button type="submit" class="btn btn-danger mt-3">Logout</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
